## AKC data countrywide
#### Micaela McCall

In [1]:
from pprint import pprint
import pandas as pd
import os

## Attribute data

In [2]:
coren = pd.read_csv('../dogdata/coren-edit.csv')
turcsan = pd.read_csv('../dogdata/turcsan.csv')

# Pare down the Coren data
coren = coren[['Breed', 'Obedient']]
# Combine the Coren and Turcsan datasets
attrib = coren.set_index('Breed').join(turcsan.set_index('Breed'), how='outer').reset_index()

## AKC data

In [3]:
def load_news_data():
    """
    A function to load data from data folder
    """
    files = [f for f in os.listdir('../dogdata/akc_data') if f.endswith(".csv")]
    file_list = []
    for filename in files:
        df = pd.read_csv(os.path.join('../dogdata/akc_data', filename))
        df['City']=filename[5:-4]
        file_list.append(df)
    df_full = pd.concat(file_list, join='outer').drop_duplicates().reset_index().drop(columns='index')
    return df_full

akc_full = load_news_data().drop(columns="Ranking").dropna()
akc_full = akc_full[akc_full.Breed != 'Grand Total']

#### Make each breed singular so that it matches with attribute dataset

In [4]:
breed_singular=[]
for row in akc_full.itertuples():
    if row.Breed[-1] == 's':
        breed_singular.append(row.Breed[:-1])
    else:
        breed_singular.append(row.Breed)
akc_full.Breed=breed_singular

Checking breeds to determine replacements

In [ ]:
for breed in attrib.Breed:
    if breed.find('Fox Terrier') != -1:
        print(breed)
print('___________')
for breed in akc_full.Breed:
    if breed.find('Terriers') != -1:
        print(breed)

#### Replace breed names in AKC data to match those in attribute data

In [6]:
repl_dict= {'Spaniels (Cocker)': 'Cocker Spaniel', 
            'Spaniels (English Cocker)': 'English Cocker Spaniel',
            'Spaniels (American Water)': 'American Water Spaniel',
            'Spaniels (Clumber)': 'Clumber Spaniel', 
            'Spaniels (English Springer)': 'English Springer Spaniel', 
            'Spaniels (Field)': 'Field Spaniel', 
            'Spaniels (Irish Water)': 'Irish Water Spaniel', 
            'Spaniels (Welsh Springer)' : 'Welsh Springer Spaniel',
            'Retrievers (Chesapeake Bay)': 'Chesapeake Bay Retriever',
            'Retrievers (Curly-Coated)': 'Curly Coated Retriever',
            'Retrievers (Flat-Coated)': 'Flat-Coated Retriever',
            'Retrievers (Golden)': 'Golden Retriever',
            'Retrievers (Labrador)': 'Labrador Retriever',
            'Pointers (German Shorthaired)': 'German Shorthaired Pointer', 
            'Pointers (German Wirehaired)': 'German Wirehaired Pointer', 
            'Setters (English)': 'English Setter', 
            'Setters (Gordon)': 'Gordon Setter', 
            'Setters (Irish)': 'Irish Setter', 
            'Fox Terriers (Wire)': 'Wire Fox Terrier', 
            'Fox Terriers (Smooth)': 'Fox Terrier'}
akc_full.Breed=akc_full.Breed.replace(repl_dict)

## Combine AKC and attribute data

In [7]:
akc_attrib = akc_full.set_index('Breed').join(attrib.set_index('Breed'), how='left').reset_index()

## Print average attribute per city

In [8]:
mean_attrib_per_breed = akc_attrib[['Breed', 'City', 'Obedient', 'Trainable', 'Bold', 'Calm', 'Sociable']].groupby('City').mean().round(decimals=2).dropna()
mean_attrib_per_breed

,Obedient,Trainable,Bold,Calm,Sociable
City,,,,,
Albany NY,0.63,0.73,0.48,0.45,0.50
Atlanta GA,0.58,0.70,0.40,0.43,0.46
Austin TX,0.58,0.64,0.43,0.49,0.48
Baltimore MD,0.61,0.66,0.46,0.47,0.48
Boston MA,0.58,0.66,0.45,0.46,0.47
Buffalo NY,0.59,0.61,0.49,0.50,0.50
Charlotte NC,0.59,0.64,0.47,0.51,0.52
Chicago IL,0.58,0.65,0.43,0.47,0.47
Cincinnati OH,0.58,0.67,0.42,0.46,0.48
Cleveland OH,0.60,0.62,0.43,0.49,0.48
Columbus OH,0.58,0.68,0.44,0.45,0.46
Dallas TX,0.57,0.64,0.42,0.47,0.47
Denver CO,0.59,0.68,0.42,0.44,0.45
Detroit MI,0.62,0.64,0.49,0.48,0.49
Fort Worth TX,0.57,0.64,0.45,0.49,0.48
Hartford CT,0.62,0.68,0.48,0.52,0.52
Honolulu HI,0.60,0.67,0.43,0.40,0.44
Houston TX,0.57,0.63,0.42,0.47,0.47
Indianapolis IN,0.57,0.63,0.46,0.49,0.49
Jacksonville FL,0.56,0.61,0.44,0.49,0.48
Kansas City MO,0.59,0.64,0.42,0.46,0.47
Las Vegas NV,0.58,0.64,0.42,0.46,0.46
Long Island NY - Suffolk_Nassau,0.58,0.65,0.44,0.48,0.49
Los Angeles CA,0.59,0.64,0.47,0.50,0.51
Miami FL,0.57,0.68,0.39,0.40,0.43
Milwaukee WI,0.60,0.68,0.44,0.49,0.49
NY Astoria Queens,0.60,0.68,0.56,0.53,0.59
NY Chelsea,0.59,0.70,0.50,0.45,0.52
NY East Village,0.61,0.59,0.69,0.62,0.66
NY Financial District,0.57,0.56,0.47,0.53,0.53
...,...,...,...,...,...
New York City NY - Bronx_Kings_New York_Queens_Richmond,0.57,0.67,0.41,0.45,0.46
Newark NJ - Essex,0.60,0.66,0.49,0.49,0.50
Northern NJ - Bergen_Hudson_Passaic,0.59,0.66,0.44,0.46,0.47
Oakland CA,0.60,0.69,0.53,0.53,0.56
Orlando FL,0.57,0.64,0.44,0.47,0.48
Philadelphia PA,0.57,0.66,0.45,0.43,0.46
Phoenix AZ,0.58,0.69,0.45,0.44,0.48
Pittsburgh PA,0.58,0.62,0.47,0.52,0.52
Portland OR,0.57,0.65,0.47,0.50,0.52
Providence RI,0.60,0.62,0.54,0.52,0.52
Raleigh NC - Wake_Durham_Orange,0.57,0.65,0.42,0.48,0.49
Richmond VA,0.58,0.63,0.48,0.49,0.51
Sacramento CA,0.56,0.60,0.42,0.49,0.46
Saint Louis MO,0.59,0.65,0.47,0.48,0.50
Salt Lake City UT,0.59,0.65,0.41,0.44,0.45
San Antonio TX,0.57,0.63,0.47,0.50,0.50
San Diego CA,0.57,0.63,0.42,0.47,0.46
San Fran Castro,0.67,0.62,0.62,0.58,0.67
San Fran Mission,0.66,0.71,0.65,0.65,0.71
San Fran Nob Hill,0.60,0.53,0.60,0.60,0.60
San Fran Nopa,0.62,0.71,0.50,0.47,0.53
San Fran Pacific Heights,0.62,0.60,0.50,0.52,0.53
San Fran Portrero,0.71,0.71,0.36,0.50,0.50
San Fran Soma,0.61,0.67,0.67,0.67,0.83
San Francisco CA,0.59,0.66,0.46,0.48,0.49
Seattle WA,0.59,0.68,0.42,0.44,0.46
Tampa FL,0.59,0.62,0.47,0.50,0.50
Tucson AZ,0.58,0.66,0.40,0.46,0.45
Washington DC,0.60,0.70,0.43,0.46,0.48
West Palm Beach FL,0.59,0.64,0.45,0.48,0.50

## Print number of dogs per city
#### Select a city or breed

In [9]:
print('Cities to chose from: \n',akc_attrib.City.unique(), '\n \n Breeds to chose from: \n', akc_attrib.Breed.unique())

Cities to chose from:
 ['Austin TX' 'New York City NY - Bronx_Kings_New York_Queens_Richmond'
 'Indianapolis IN' 'Baltimore MD' 'Tampa FL' 'Buffalo NY' 'Atlanta GA'
 'Long Island NY - Suffolk_Nassau' 'Dallas TX' 'Seattle WA' 'NY Tribeca'
 'Charlotte NC' 'Phoenix AZ' 'San Francisco CA' 'San Diego CA' 'Miami FL'
 'San Antonio TX' 'Fort Worth TX' 'Tucson AZ' 'Pittsburgh PA' 'Orlando FL'
 'Saint Louis MO' 'NY Williamsburg Brooklyn' 'Sacramento CA'
 'Los Angeles CA' 'Boston MA' 'Northern NJ - Bergen_Hudson_Passaic'
 'Cincinnati OH' 'Denver CO' 'Jacksonville FL'
 'Raleigh NC - Wake_Durham_Orange' 'Houston TX' 'Chicago IL'
 'Salt Lake City UT' 'Milwaukee WI' 'Albany NY' 'Portland OR'
 'Newark NJ - Essex' 'Washington DC' 'Hartford CT' 'Nashville TN'
 'NY New Dorp Staten Island' 'Detroit MI' 'Philadelphia PA' 'NY Chelsea'
 'Kansas City MO' 'NY East Village' 'Columbus OH' 'Richmond VA'
 'Las Vegas NV' 'NY Upper West Side' 'Cleveland OH' 'West Palm Beach FL'
 'NY Washington Heights' 'Oakland CA' 'NY Financial District'
 'Honolulu HI' 'San Fran Pacific Heights' 'San Fran Nob Hill'
 'San Fran Mission' 'NY Upper East Side' 'Providence RI' 'San Fran Soma'
 'NY Astoria Queens' 'San Fran Nopa' 'San Fran Castro'
 'NY Riverdale Bronx' 'NY Murray Hill' 'San Fran Portrero'
 'NY Park Slope Brooklyn']

 Breeds to chose from:
 ['Affenpinscher' 'Afghan Hound' 'Airedale Terrier' 'Akita'
 'Alaskan Malamute' 'American Eskimo Dog' 'American Foxhound'
 'American Hairless Terrier' 'American Staffordshire Terrier'
 'American Water Spaniel' 'Anatolian Shepherd Dog' 'Australian Cattle Dog'
 'Australian Shepherd' 'Australian Terrier' 'Azawakh' 'Basenji'
 'Basset Hound' 'Beagle' 'Bearded Collie' 'Beauceron' 'Bedlington Terrier'
 'Belgian Malinoi' 'Belgian Sheepdog' 'Belgian Tervuren' 'Berger Picard'
 'Bernese Mountain Dog' 'Bichons Frise' 'Black Russian Terrier'
 'Black and Tan Coonhound' 'Bloodhound' 'Bluetick Coonhound' 'Boerboel'
 'Border Collie' 'Border Terrier' 'Borzoi' 'Boston Terrier'
 'Bouviers des Flandre' 'Boxer' 'Briard' 'Brittany' 'Brussels Griffon'
 'Bull Terrier' 'Bulldog' 'Bullmastiff' 'Cairn Terrier' 'Canaan Dog'
 'Cane Corso' 'Cardigan Welsh Corgi' 'Cavalier King Charles Spaniel'
 'Cesky Terrier' 'Chesapeake Bay Retriever' 'Chihuahua' 'Chinese Crested'
 'Chinese Shar-Pei' 'Chow Chow' "Cirnechi dell'Etna" 'Clumber Spaniel'
 'Cocker Spaniel' 'Collie' 'Coton de Tulear' 'Curly Coated Retriever'
 'Dachshund' 'Dalmatian' 'Dandie Dinmont Terrier' 'Doberman Pinscher'
 'Dogues de Bordeaux' 'English Cocker Spaniel' 'English Setter'
 'English Springer Spaniel' 'English Toy Spaniel'
 'Entlebucher Mountain Dog' 'Field Spaniel' 'Finnish Lapphund'
 'Finnish Spitz' 'Flat-Coated Retriever' 'Fox Terrier' 'French Bulldog'
 'German Pinscher' 'German Shepherd Dog' 'German Shorthaired Pointer'
 'German Wirehaired Pointer' 'Giant Schnauzer' 'Glen of Imaal Terrier'
 'Golden Retriever' 'Gordon Setter' 'Great Dane' 'Great Pyrenee'
 'Greater Swiss Mountain Dog' 'Greyhound' 'Harrier' 'Havanese'
 'Ibizan Hound' 'Icelandic Sheepdog' 'Irish Setter' 'Irish Terrier'
 'Irish Water Spaniel' 'Irish Wolfhound' 'Italian Greyhound'
 'Japanese Chin' 'Keeshonden' 'Kerry Blue Terrier' 'Komondorok' 'Kuvaszok'
 'Labrador Retriever' 'Lagotti Romagnoli' 'Lagotti Romagnolo'
 'Lakeland Terrier' 'Leonberger' 'Lhasa Apso' 'Lowchen' 'Maltese'
 'Manchester Terrier' 'Mastiff' 'Miniature American Shepherd'
 'Miniature Bull Terrier' 'Miniature Pinscher' 'Miniature Schnauzer'
 'Neapolitan Mastiff' 'Nederlandse Kooikerhondje' 'Newfoundland'
 'Norfolk Terrier' 'Norwegian Buhund' 'Norwegian Elkhound'
 'Norwich Terrier' 'Old English Sheepdog' 'Otterhound' 'Papillon'
 'Parson Russell Terrier' 'Pekingese' 'Pembroke Welsh Corgi'
 'Petits Bassets Griffons Vendeen' 'Pharaoh Hound' 'Plott' 'Pointer'
 'Polish Lowland Sheepdog' 'Pomeranian' 'Poodle'
 'Portuguese Podengo Pequeno' 'Portuguese Water Dog' 'Pug' 'Pulik' 'Pumik'
 'Pyrenean Shepherd' 'Rat Terrier' 'Redbone Coonhound'
 'Retrievers (Nova Scotia Duck Tolling)' 'Rhodesian Ridgeback'
 'Rottweiler' 'Russell Terrier' 'Saluki' 'Samoyed' 'Schipperke'
 'Scottish Deerhound' 'Scottish Terrier' 'Sealyham Terrier'
 'Setters (Irish Red and White)' 'Shetland Sheepdog' 'Shiba Inu'
 'Shih Tzu' 'Siberian Huskie' 'Silky Terrier' 'Skye Terrier'
 'Soft Coated Wheaten Terrier' 'Spaniels (Boykin)' 'Spaniels (Sussex)'
 'Spanish Water Dog' 'Spinoni Italiani' 'St. Bernard'
 'Staffordshire Bull Terrier' 'Standard Schnauzer' 'Swedish Vallhund'
 'Tibetan Mastiff' 'Tibetan Spaniel' 'Tibetan Terrier' 'Toy Fox Terrier'
 'Treeing Walker Coonhound' 'Vizsla' 'Weimaraner' 'Welsh Springer Spaniel'
 'Welsh Terrier' 'West Highland White Terrier' 'Whippet'
 'Wire Fox Terrier' 'Wirehaired Pointing Griffon' 'Wirehaired Vizsla'
 'Xoloitzcuintli' 'Yorkshire Terrier']

In [10]:
city = ''
breed = ''

In [11]:
total_breed_per_city = akc_attrib[['Breed', 'City', 'Reg Count']].groupby(['Breed','City']).sum().round(decimals=2).reset_index()

if (len(city) > 0) & (len(breed) > 0):
    print(breed, 'in', city, '\n', total_breed_per_city[(total_breed_per_city.City == city) & (total_breed_per_city.Breed == breed)][['Reg Count']])
elif len(city) > 0:
    print(city, '\n', total_breed_per_city[total_breed_per_city.City == city][['Breed', 'Reg Count']])
elif len(breed) >0:
    print(breed, '\n', total_breed_per_city[total_breed_per_city.Breed == breed][['City', 'Reg Count']])
else:
    print(total_breed_per_city)

                  Breed                                               City  \
0         Affenpinscher                                         Atlanta GA
1         Affenpinscher                                          Austin TX
2         Affenpinscher                                       Baltimore MD
3         Affenpinscher                                         Buffalo NY
4         Affenpinscher                                          Dallas TX
5         Affenpinscher                                    Indianapolis IN
6         Affenpinscher                    Long Island NY - Suffolk_Nassau
7         Affenpinscher                                         NY Tribeca
8         Affenpinscher  New York City NY - Bronx_Kings_New York_Queens...
9         Affenpinscher                                         Seattle WA
10        Affenpinscher                                           Tampa FL
11         Afghan Hound                                         Atlanta GA
12         Afghan Hound                                          Austin TX
13         Afghan Hound                                          Boston MA
14         Afghan Hound                                       Charlotte NC
15         Afghan Hound                                         Chicago IL
16         Afghan Hound                                      Cincinnati OH
17         Afghan Hound                                          Dallas TX
18         Afghan Hound                                          Denver CO
19         Afghan Hound                                      Fort Worth TX
20         Afghan Hound                                         Houston TX
21         Afghan Hound                                    Jacksonville FL
22         Afghan Hound                                     Los Angeles CA
23         Afghan Hound                                           Miami FL
24         Afghan Hound                           NY Williamsburg Brooklyn
25         Afghan Hound  New York City NY - Bronx_Kings_New York_Queens...
26         Afghan Hound                Northern NJ - Bergen_Hudson_Passaic
27         Afghan Hound                                         Orlando FL
28         Afghan Hound                                         Phoenix AZ
29         Afghan Hound                                      Pittsburgh PA
...                 ...                                                ...
5566  Yorkshire Terrier                                 NY Upper East Side
5567  Yorkshire Terrier                                 NY Upper West Side
5568  Yorkshire Terrier                              NY Washington Heights
5569  Yorkshire Terrier                           NY Williamsburg Brooklyn
5570  Yorkshire Terrier                                       Nashville TN
5571  Yorkshire Terrier  New York City NY - Bronx_Kings_New York_Queens...
5572  Yorkshire Terrier                                  Newark NJ - Essex
5573  Yorkshire Terrier                Northern NJ - Bergen_Hudson_Passaic
5574  Yorkshire Terrier                                         Oakland CA
5575  Yorkshire Terrier                                         Orlando FL
5576  Yorkshire Terrier                                    Philadelphia PA
5577  Yorkshire Terrier                                         Phoenix AZ
5578  Yorkshire Terrier                                      Pittsburgh PA
5579  Yorkshire Terrier                                        Portland OR
5580  Yorkshire Terrier                                      Providence RI
5581  Yorkshire Terrier                    Raleigh NC - Wake_Durham_Orange
5582  Yorkshire Terrier                                        Richmond VA
5583  Yorkshire Terrier                                      Sacramento CA
5584  Yorkshire Terrier                                     Saint Louis MO
5585  Yorkshire Terrier                                  Salt Lake City UT
5586  Yorkshire Terrier                                     San Antonio TX
5587  Yorkshire Terrier                                       San Diego CA
5588  Yorkshire Terrier                                  San Fran Nob Hill
5589  Yorkshire Terrier                           San Fran Pacific Heights
5590  Yorkshire Terrier                                   San Francisco CA
5591  Yorkshire Terrier                                         Seattle WA
5592  Yorkshire Terrier                                           Tampa FL
5593  Yorkshire Terrier                                          Tucson AZ
5594  Yorkshire Terrier                                      Washington DC
5595  Yorkshire Terrier                                 West Palm Beach FL

      Reg Count
0             1
1             2
2             2
3             1
4             1
5             1
6             1
7             1
8             3
9             1
10            1
11            2
12            1
13            1
14            1
15            2
16            1
17            1
18            1
19            1
20            1
21            1
22            1
23            1
24            1
25            1
26            1
27            5
28            2
29            1
...         ...
5566          4
5567          3
5568          1
5569          2
5570         10
5571         72
5572         13
5573         51
5574          2
5575         26
5576         16
5577         30
5578         13
5579         20
5580          7
5581         35
5582         14
5583         40
5584          6
5585         26
5586        113
5587         46
5588          2
5589          3
5590          9
5591          7
5592         16
5593         24
5594          7
5595         14

[5596 rows x 3 columns]